<ion-header>

    <ion-navbar>
      <ion-title>Terms Of Service</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
    <h3>App Terms of Service</h3>
    <p>This is the Terms of Service documentation regarding onononon on 
      on on ononononon ono no non ononono nonon onon ono non 
        onon onononon ononon onon onon on ono non on ononon ononon onon onon
        onononon on on on ononononon ono no non ononono nonon onon ono non 
      onon onononon ononon onon onon on ono non on ononon ononon onon onon
    </p>
  
    <h4>Utility Service</h4>
    <p>onononon on on on ononononon ono no non ononono nonon onon ono non 
      onon onononon ononon onon onon on ono non on ononon ononon onon onon
     onon on on onon on on on ononon onon onon onon ono nonon onon onon ono
    </p>
  
    <h4>Limitations</h4>
    <p>onononon on on on ononononon ono no non ononono nonon onon ono non 
      onon onononon ononon onon onon on ono non on ononon ononon onon onon
     onon on on onon on on on ononon onon onon onon ono nonon onon onon ono
    </p>
  
  </ion-content>
  
  <ion-footer>
    <ion-buttons right>
      <button ion-button outline small icon-right>
        Send to email
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-footer>