<ion-content no-scroll>
  
  <!--ion-item no-lines></ion-item-->
  <ion-grid style="height: 100%;">
    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
    </ion-row>
    
    <ion-row>
      <ion-col text-center>
        <img ion-image src="assets/imgs/logo-sketch.png" />
      </ion-col>   
    </ion-row>

    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-col col-8 text-center>
        <ion-item class="transparent">
          <ion-input clearInput
            placeholder="CNPJ" 
            [(ngModel)]="cnpj"
            [disabled]="(regPending$ | async)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <div *ngIf="(regPending$ | async) as pending">
      <ion-row
        justify-content-center align-items-center>
        <ion-col col-4 text-center>
          <ion-item class="transparent">
            <ion-input placeholder="c.h.a.v.e" [(ngModel)]="token"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-4 align-self-right>
          <button
            ion-button float-right
            (click)="validate($event)" 
            [disabled]="token==''">Validar</button>
        </ion-col>
      </ion-row>

    </div>

    <ion-row>
      <ion-col text-center>
        <div *ngIf="(regPending$ | async) as pending; else startOn">
          <ion-item no-lines class="transparent"></ion-item>

          <div>
            <span>Pedido de Registro solicitado em 08/03/2018</span>
            <ion-note>Aguardando aprovação da central</ion-note>
          </div>
          <div>
            <button 
            ion-button color="doubt" small outline
            (click)="cancel($event)" 
            [disabled]="cnpj==''">Cancelar Pedido</button>
          </div>
        </div>
        
        <ng-template #startOn>
          <button
          ion-button 
          (click)="send($event)" 
          [disabled]="cnpj==''">Começar</button>
          <ion-item no-lines class="transparent"></ion-item>
        </ng-template>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
      <ion-item no-lines no-padding class="transparent">
        <button *ngIf="!(regPending$ | async) as pending"
          ion-button icon-only default clear 
          (click)="showSignin()">
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-item>
    </ion-row>
    
  </ion-grid>

</ion-content>
