.ios, .md {
 
  content-drawer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10 !important;
    box-shadow: 0px -4px 22px -8px rgba(0,0,0,0.75);

    .handler{
      background-color: #eb9800b7;
      h3{
        margin-top: 0px;
        margin-bottom: 0px;
        //height: 32px;
        padding-top: 4px;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
      }
    }
  }

}