<ion-list>
  <button ion-item detail-none (click)="close()">Arquivar</button>
  <button ion-item detail-none (click)="close()">Clonar</button>
  <ion-item-divider></ion-item-divider>
  <button ion-item detail-none (click)="close()">Filtrar pelo Cliente</button>
  <button ion-item detail-none (click)="close()">Filtrar pelo Status</button>
</ion-list>