<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only [navPush]="settingsPage">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      Propostas
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="onSearchClick($event)">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onNewClick($event)">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar *ngIf="showSearch" [(ngModel)]="searchToken" [showCancelButton]="true" (ionInput)="onSearchChange($event)"
    (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content class="bg-dark">
  <ion-refresher (ionRefresh)="doRefresh($event)" [enabled]="!isOffline">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-card *ngFor="let prop of prop$ | async">
    <ion-item-sliding>
      <ion-item (click)="open(prop)">
        <ion-grid class="pull-up">
          <ion-row>
            <ion-col col-1 class="slim">
              <ion-icon name="help-circle" color="doubt" float-left ></ion-icon>
            </ion-col>
            <ion-col class="slim">
              <h2>{{prop.client?.nome}}</h2>
            </ion-col>
            <ion-col class="slim">
              <ion-note float-right class="strong">{{prop.timestamp | date:'dd.MM.yy'}}</ion-note>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="slim-down" text-center>
              <ion-note>$ Imóvel</ion-note>
            </ion-col>
            <ion-col class="slim-down" text-center>
              <ion-note>Renda</ion-note>
            </ion-col>
            <ion-col class="slim-down" text-center>
              <ion-note>Solicitado</ion-note>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="compact" text-center>
              R$ {{prop.estate?.valor}}
            </ion-col>
            <ion-col class="compact"  text-center>
              R$ {{prop.client?.renda}}
            </ion-col>
            <ion-col class="compact" text-center>
              R$ {{prop.requestedAmount}}
            </ion-col>
          </ion-row>

          <ion-row style="border-top: solid #7a7aff 1px">
          </ion-row>

          <ion-row justify-content-center>
            <ion-col text-center class="slim">
              <ion-note [ngClass]="isCurrentStage(prop.submitDate)">SIMULAÇÃO</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note [ngClass]="isCurrentStage(prop.analysisDate)">ANÁLISE</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note [ngClass]="isCurrentStage(prop.approvalDate)">EMISSÃO</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note [ngClass]="isCurrentStage(prop.paymentDate)">PAGAMENTO</ion-note>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center>
            <ion-col text-center class="slim">
              <ion-note class="stage">{{prop.submitDate | date:'dd.MM.yy'}}</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note class="stage">{{prop.analysisDate | date:'dd.MM.yy'}}</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note class="stage">{{prop.approvalDate | date:'dd.MM.yy'}}</ion-note>
            </ion-col>
            <ion-col text-center class="slim">
              <ion-note class="stage">{{prop.paymentDate | date:'dd.MM.yy'}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item-options side="left" (ionSwipe)="swipe($event, prop)">
        <button ion-button color="inter-blue-1" (click)="expand($event, prop)">
          <ion-icon name="send"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right" (ionSwipe)="swipe($event, prop)">
        <button ion-button color="light" (click)="presentPopover($event, prop)">
          <ion-icon name="more"></ion-icon>
        </button>
        <button ion-button color="danger" expandable (click)="expand($event, prop)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
   
    </ion-item-sliding>
    </ion-card>
    
  </ion-list>

</ion-content>