page-propostas {

  ion-content.bg-dark{
    background-color: #ffe3a6;
  }

  ion-item.item > div.item-inner > div.input-wrapper > ion-label {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  ion-label > ion-row > ion-col {
    padding-top: 4px;
    padding-right: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
  }

  ion-note.strong {
    font-weight: bold;
    font-size: 0.9em !important;
    margin: 2px !important; 
  }

  ion-note.current-stage {
    font-weight: bold !important;
    font-size: 0.6em !important;
    color: #ff9900;
    margin: 2px !important; 
  }
  
  ion-note.stage {
    font-size: 0.6em !important;
    color: #000000;
    margin: 2px !important; 
  }

  ion-col.compact {
    font-size: 0.8em !important;
  }

  ion-col.slim {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0.8em;
  }

  ion-col.slim-down {
    padding-top: 2px;
    padding-bottom: 2px;
    height: 0.8em;
  }
  
  ion-col.pull-up {
    padding-top: 0px;
  }
  
  ion-grid.pull-up {
    padding-top: 5px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
  }

  ion-grid.no-padding{
    padding: 0px;
  }

  ion-item {
    padding-left: 4px;
  }
}
