<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label>Informe o Token</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>    

    <ion-row>
      <ion-col>
        <button ion-item no-lines>
          Validar
        </button>
      </ion-col>
    </ion-row>    

  </ion-grid>
</div>