<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <ion-title>
      Registro
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()">
        <ion-icon name="arrow-back"></ion-icon> Voltar</button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button icon-right (click)="next()">{{labelNext}}
        <ion-icon name="arrow-forward" *ngIf="!isLastSlide()"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Turn me to a Component, pls! -->
  <spinner *ngIf="loading">
  </spinner>

  <ion-slides #signupSlider (ionSlideDidChange)="slideChanged()">

    <ion-slide>
      <ion-list no-lines padding>

        <form [formGroup]="slideOneForm">

          <ion-item>
            <ion-label floating>CNPJ</ion-label>
            <ion-input formControlName="cnpj" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Razão Social</ion-label>
            <ion-input #defaultFocus formControlName="razao" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Logradouro</ion-label>
            <ion-input formControlName="logradouro"></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating>Número</ion-label>
            <ion-input formControlName="numero"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Complemento</ion-label>
            <ion-input formControlName="complemento"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Bairro</ion-label>
            <ion-input formControlName="bairro"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>Município</ion-label>
            <ion-input formControlName="municipio"></ion-input>
          </ion-item>
    
          <ion-item>
            <ion-label floating>CEP</ion-label>
            <ion-input formControlName="cep" type="string"></ion-input>
          </ion-item>

        </form>

      </ion-list>
    </ion-slide>

    <ion-slide>
      <ion-list no-lines padding>

        <form [formGroup]="slideOneForm">

          <ion-item>
            <ion-label floating>Nome do Representante</ion-label>
            <ion-input formControlName="nomeRepresentante" type="text"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>CPF do Representante</ion-label>
            <ion-input formControlName="cpfRepresentante" type="number"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>eMail</ion-label>
            <ion-input formControlName="emailRepresentante" type="email" clearInput></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-label floating>Confirmação do eMail</ion-label>
            <ion-input formControlName="emailConfRepresentante" type="email" clearInput></ion-input>
          </ion-item>
          
          <ion-item no-lines>
            <ion-label floating>Telefone</ion-label>
            <ion-input formControlName="telRepresentante" type="phone" [(ngModel)]="fone" clearInput></ion-input>
          </ion-item>

          <button 
            ion-button round outline icon-right 
            color="inter-cold-1" text-center detail-none
            [disabled]="fone==''"
            (click)="checkPhone($evt)">
            Validar telefone 
            <ion-icon name="eye"></ion-icon>
          </button>

        </form>

      </ion-list>
    </ion-slide>

    <ion-slide padding>
        <ion-item text-center>
          Termo de Responsablidade
        </ion-item>

          <p text-left>
            Nullam eget leo odio. Aenean in mauris malesuada ex rutrum tincidunt nec fermentum augue. Nulla non venenatis nulla, sit amet semper ipsum. Vivamus gravida rutrum felis, vel mattis lorem posuere eu. Maecenas luctus non arcu nec lacinia.
          </p>
            
          <p text-left>
            Praesent accumsan mollis ipsum, et volutpat elit. Aenean vel ornare risus, non tristique nibh. Aliquam ligula orci, fringilla et faucibus sit amet, pulvinar quis lacus. Ut pharetra augue at tortor feugiat lobortis. Nam dolor ipsum, consequat a aliquam eget, euismod at magna. Maecenas a laoreet dolor, non efficitur nibh.
          </p>
          <p text-left>
            Nullam eget leo odio. Aenean in mauris malesuada ex rutrum tincidunt nec fermentum augue. Nulla non venenatis nulla, sit amet semper ipsum. Vivamus gravida rutrum felis, vel mattis lorem posuere eu. Maecenas luctus non arcu nec lacinia.
          </p>
            
          <p text-left>
            Praesent accumsan mollis ipsum, et volutpat elit. Aenean vel ornare risus, non tristique nibh. Aliquam ligula orci, fringilla et faucibus sit amet, pulvinar quis lacus. Ut pharetra augue at tortor feugiat lobortis. Nam dolor ipsum, consequat a aliquam eget, euismod at magna. Maecenas a laoreet dolor, non efficitur nibh.
          </p>

    </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer *ngIf="isLastSlide()">
  <ion-toolbar>
    <ion-buttons end>
      <button ion-button icon-right (click)="sendMail()">
        Enviar por eMail
        <ion-icon name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>