page-registration {

  ion-slide.swiper-slide {
    align-items: flex-start;
  }

  ion-slides.slides {
    height: auto;
  }
  
  .swiper-pagination {
    bottom: 0px;
  }
  
  .spinner-wrapper{
    position: absolute;
    display: flex !important;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background-color: #bbbbbb69;
  }

}
