<div class="spinner-wrapper">
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;" align-items-center>
      <ion-col col-12 text-center>
        <img src="assets/imgs/infinity-2s-98px.gif">
      </ion-col>
    </ion-row>
  </ion-grid>
</div>