<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <button ion-item>
      <ion-icon name="person" item-start></ion-icon>
      Minha Conta
    </button>

    <button ion-item>
      <ion-icon name="stats" item-start></ion-icon>
      Estatísticas  
    </button>
  </ion-list>

  <ion-list>

      <ion-list-header>
        Sobre
      </ion-list-header>
        
      <button ion-item [navPush]="tosPage">
        Termos de Serviço
        <ion-icon name="information-circle" item-start></ion-icon>
      </button>
      
      <ion-item>
        InterCI Parceiro
        <ion-icon name="bookmarks" item-start></ion-icon>
        <ion-note item-end>v0.1</ion-note>
      </ion-item>

    </ion-list>
</ion-content>