// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #fd9800,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  attention:  #d6c100,
  doubt:      #a100e0,
  dimmed:     #bbbbbb,

  // Theme INTER (Orange, Green, Purple, Blue)
  inter-primary-0: #ffedae,	// Main Primary color */
  inter-primary-1: #ffb100,
  inter-primary-2: #dea82c,
  inter-primary-3: #766747,
  inter-primary-4: #3b372f,

  inter-green-0: #7ebb71,	// Main Secondary color (1) */
  inter-green-1: #27e200,
  inter-green-2: #3eb925,
  inter-green-3: #42623b,
  inter-green-4: #293128,

  inter-cold-0: #915891,	// Main Secondary color (2) */
  inter-cold-1: #c100c1,
  inter-cold-2: #901c90,
  inter-cold-3: #4c2e4c,
  inter-cold-4: #261f26,

  inter-blue-0: #636e98,// Main Complement color */
  inter-blue-1: #143bc6,
  inter-blue-2: #2c4397,
  inter-blue-3: #343a50,
  inter-blue-4: #212328
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
