<!--
  Generated template for the SigninPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Entrar</ion-title>
    <ion-buttons start>
      <button ion-button dark (click)="dismiss()">Cancelar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
  
  
<ion-content no-scroll>
  
  <!--ion-item no-lines></ion-item-->
  <ion-grid style="height: 100%;">
    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
    </ion-row>
    
    <ion-row>
      <ion-col text-center>
        <img ion-image src="assets/imgs/logo-sketch.png" />
      </ion-col>   
    </ion-row>

    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
    </ion-row>

    <ion-row justify-content-center align-items-center>
      <ion-col col-8 text-center>
        <ion-item class="transparent">
          <ion-input #defaultFocus
            clearInput placeholder="usuário ou eMail" 
            [(ngModel)]="userName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center>
        <ion-col col-8 text-center>
          <ion-item class="transparent">
            <ion-input clearInput type="password" placeholder="senha" [(ngModel)]="userPwd"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button (click)="send($event)" [disabled]="userName==''">Verificar</button>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
  
    </ion-row>
    <ion-row>
      <ion-item no-lines class="transparent"></ion-item>
  
    </ion-row>
    
  </ion-grid>

</ion-content>
