page-signin {
  background-color: color($colors, inter-primary-0);
  
  ion-content{
    background-color: transparent !important;
  }

  .transparent{
    background-color: transparent !important;
  }

  $text-input-ios-background-color: transparent !important;
  $text-input-md-background-color: transparent !important;
}
