<ion-header>

  <ion-navbar>
    <ion-title>Ativar conta</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-slides>
    <ion-slide>
      Senha
    </ion-slide>

    <ion-slide>
      Agencias
    </ion-slide>

    <ion-slide>
      Preparar -> Go!
      <div>

        <button ion-button
          small primary
          (click)="startUp()">Começar! 
        </button>
      </div>
    </ion-slide>
    
  </ion-slides>

</ion-content>
