<ion-header>

  <ion-navbar color="primary">
    <ion-title>Concluído</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-item text-center>
    Registro enviado com sucesso
  </ion-item>
  <p text-center>
    Parabéns, você completou o Pedido de Registro com sucesso!
  </p>

  <p text-center>
    Seu cadastro será analisado pela Equipe de Crédito e Compliance para ullam eget leo. Aenean in mauris malesuada ex rutrum
    tincidunt nec fermentum augue. Nulla non venenatis nulla, sit amet semper ipsum. Vivamus gravida rutrum felis, vel mattis
    lorem posuere eu. Maecenas luctus non arcu nec lacinia.
  </p>

  <p text-center>
    Aguarde nosso contato no prazo máximo de 72hs.
  </p>

  <p text-center>
    Saudações e até breve.
  </p>

  <ion-item text-center>
    <button ion-button (click)="gotoHome()">Fechar</button>
  </ion-item>
  
</ion-content>