<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="onCloseClick($event)">
        <ion-icon name="logo-buffer"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>
      {{slideTitle}}
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="overflow-y: hidden;">

  <spinner *ngIf="loading$ | async">
  </spinner>
  
  <ion-item no-lines class="slim-segment">

    <ion-segment color="dimmed" [(ngModel)]="slideIndex" (ionChange)="onSegmentSelect($event)">
      <ion-segment-button full value="0">
        <ion-icon name="person"></ion-icon>
      </ion-segment-button>

      <ion-segment-button full value="1">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>

      <ion-segment-button full value="2">
        <ion-icon name="calculator"></ion-icon>
      </ion-segment-button>

      <ion-segment-button full value="3">
        <ion-icon name="switch"></ion-icon>
      </ion-segment-button>
    </ion-segment>

  </ion-item>

  <ion-slides #slides (ionSlideDidChange)="onSlideChange()" initialSlide="2">

    <ion-slide>
      <form [formGroup]="pessoaForm">
        
        <ion-item>
          <ion-label floating>Nome</ion-label>
          <ion-input #defaultFocus formControlName="nome" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>CPF</ion-label>
          <ion-input formControlName="cpf"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label floating>Estado Civil</ion-label>
          <ion-select formControlName="estadoCivil">
            <ion-option value="C">Casado</ion-option>
            <ion-option value="S">Solteiro</ion-option>
            <ion-option value="D">Divorciado</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Sexo</ion-label>
          <ion-select formControlName="sexo">
            <ion-option value="M">Masculino</ion-option>
            <ion-option value="F">Feminino</ion-option>
            <ion-option value="O">Outro</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label floating>Data de Nascimento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="nascimento"></ion-datetime>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Renda</ion-label>
          <ion-input type="number" formControlName="renda" ></ion-input>
        </ion-item>

      </form>
    </ion-slide>

    <ion-slide>
      <form [formGroup]="imovelForm">

        <ion-item>
          <ion-label floating>Valor do Imóvel</ion-label>
          <ion-input formControlName="valorImovel" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>CEP</ion-label>
          <ion-input #defaultFocus formControlName="cepImovel" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label floating>Tipo</ion-label>
          <ion-select formControlName="naturezaImovel">
            <ion-option value="R">Residencial</ion-option>
            <ion-option value="C">Comercial</ion-option>
            <ion-option value="O">Outro</ion-option>
          </ion-select>
        </ion-item>
        
      </form>
    </ion-slide>

    <ion-slide>

      <!-- dynagrid -->
      <ion-grid>
        <ion-row justify-content-center *ngFor="let control of controls">
          <ion-col>

            <ion-segment id="{{control.id}}" (ionChange)="onSelectorClick($event)" *ngIf="control.type==='btn-group'">
              <ion-segment-button *ngFor="let option of control.options" value="{{option}}">
                {{option}}
              </ion-segment-button>
            </ion-segment>

            <ion-item no-lines *ngIf="control.type==='switch'">
              <ion-label>{{control.label}}</ion-label>
              <ion-toggle id="{{control.id}}" (ionChange)="onSelectorClick($event)"></ion-toggle>
            </ion-item>

          </ion-col>
        </ion-row>
      </ion-grid>
  
     
      <div text-center class="slim-margin" style="font-size: 0.9em; font-weight: bold;">
        Operações
      </div>
      
      <ion-scroll
        #operList 
        scrollY="true" 
        style="width: 100%; height: 20%;">
        <div *ngIf="(operations$ | async) as operations">
        <ion-list no-padding *ngIf="operations.length!==0; else empty">
          <button id="op-{{operation.id}}" [class.selected]="this.selectedOpId==operation.id" ion-item detail-none text-wrap style="font-size: 1.3rem" (click)="onOperationClick($event)"
            *ngFor="let operation of operations">
            {{operation.name}}
          </button>
        </ion-list>
        </div>
        <ng-template #empty>
          <ion-list no-padding>
            <ion-item no-lines>
              <ion-card class="banner-height">
                <ion-card-content text-center style="height: 100%;">
                  <span class="red-shadow">Não existem operações para estas opções</span>
                </ion-card-content>
              </ion-card>
            </ion-item>
          </ion-list>
        </ng-template>

      </ion-scroll>
    

      <ion-item-divider text-center class="slim" style="font-size: 0.9em; font-weight: bold;">
        Valores
      </ion-item-divider>

      <ion-item>
        <ion-label>Valor Solicitado R$</ion-label>
        <ion-input type="number" placeholder="0,00" class="placeholder-text"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Incl. Despesas</ion-label>
        <ion-toggle [(ngModel)]="incluirDespesas"></ion-toggle>
      </ion-item>

    </ion-slide>

    <ion-slide>
      <ion-item *ngIf="(selectedOp$ | async) as selectedOp; else noSelectedOp">
        <ion-label class="slim">Parcelar em {{parcelas}}</ion-label>
        <ion-range min="{{selectedOp?.rules.prazoMin}}" max="{{selectedOp?.rules.prazoMax}}" step="1" snaps="true" color="secondary" [(ngModel)]="parcelas"></ion-range>
      </ion-item>

      <ng-template #noSelectedOp>
        <ion-item>
          <ion-label text-center>
            Selecione uma operação para definir o prazo.
          </ion-label>
        </ion-item>
      </ng-template>
      <ion-grid no-padding>
        <ion-row class="small-text">
          <ion-col>#</ion-col>
          <ion-col>Venc.</ion-col>
          <ion-col>Valor</ion-col>
          <ion-col>Amort.</ion-col>
          <ion-col>Juros</ion-col>
          <ion-col>Seguro</ion-col>
          <ion-col>IOF</ion-col>
        </ion-row>
        <ion-row class="smaller-text">
          <ion-col>0</ion-col>
          <ion-col>01.06.2018</ion-col>
          <ion-col>5.345,98</ion-col>
          <ion-col>1.876,32</ion-col>
          <ion-col>3.531,66</ion-col>
          <ion-col>109,45</ion-col>
          <ion-col>36,74</ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>
  </ion-slides>
</ion-content>

<content-drawer [options]="drawerOptions">
  <div class="content">
    <ion-list no-padding no-lines>
      <ion-item class="slim stripe">
        <ion-label item-start class="short-label">Operação</ion-label>
        <ion-label item-end text-right class="small-text">{{(selectedOp$ | async)?.name}}</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>Valor Avaliação</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim stripe">
        <ion-label item-start>Valor Solicitado</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>Prazo</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim  stripe">
        <ion-label item-start>Despesas</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>Valor Financiado</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim stripe">
        <ion-label item-start>IOF</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>Valor Liberado</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim stripe">
        <ion-label item-start>Taxa Financiamento</ion-label>
        <ion-label item-end text-right>-???- a.m</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>CET</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim stripe">
        <ion-label item-start>MIP</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>DFI</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim stripe">
        <ion-label item-start>Total Seguros</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
      <ion-item class="slim">
        <ion-label item-start>CESH</ion-label>
        <ion-label item-end text-right>-???-</ion-label>
      </ion-item>
    </ion-list>

    <div text-center>
      <button ion-button round [disabled]="preventSend$ | async">Enviar Proposta</button>
    </div>
  </div>
</content-drawer>