page-operations {

  .fullheader{
    height: 200px;
  }

  .gray-text{
    color: #aaaaaa;
  }

  content-drawer {
    background-color: #34495e !important;
    .content{
      padding: 2px;
      
    }

    .back-panel * {
      background-color: rgba(161, 161, 161, 0.5);
    }
  }
  
  .placeholder-text{
    color: rgb(255, 166, 0);
    font-size: 1.2em;
    text-align: center;
  }

  .selected{
    background-color: #ffc40069;
  }

  .slide-zoom{
    height: 95%;
  }

  .bordered{
    border: 1px solid #34495e;
    box-shadow: inset 0px 0px 2px 2px #ffae00;
  }

  ion-item.slim {
    height: 24px !important;
    min-height: 24px !important;
    max-height: 24px !important;
    font-size: 1em;
    padding-left: 4px;

    ion-label{
      margin-top: 0px !important;
      margin-bottom: 0px !important;
    }
  }

  ion-item.slim-segment {
    ion-label{
      margin-top: 2px !important;
      margin-bottom: 0px !important;
    }
  }

  ion-label.slim {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  ion-label.short-label {
    min-width: 20% !important;
    max-width: 20% !important;
  }

  .small-text {
    font-size: 0.9em;
  }

  ion-row.small-text ion-col {
    font-size: 0.9em;
  }

  ion-row.smaller-text ion-col {
    font-size: 0.7em;
  }

  .stripe{
    background-color: #ebebeb;
  }

  .inset{
    color: #b17400;
    text-shadow: 0px 0px 3px #ffffff;
  }

  .slim-margin {
    margin: 2px !important;
  }

  ion-card.banner-height{
    height: 120px !important;
  }

  .red-shadow {
    color: #ff6060; 
    font-size: 1.2em;
    text-shadow: 1px 1px 2px rgb(124, 124, 124);
  }
}
